/* ================================= 
  Base Element Styles
==================================*/

*, 
*:before, 
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  margin: 0 auto;
  padding: 0;
}

header {
  grid-area: header;
  background-color: #7c7ebc;
  color: white;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #4d4c72;
}

nav a {
  padding: 10px;
}

nav a img {
  height: 2.5em;
  width: 2.5em;
}

main {
  grid-area: main;
}

h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #7c7ebc;
}

/* ================================= 
  Base Layout Styles
==================================*/

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "nav"
    "main";
}

header h1 {
  float: left;
  margin-left: 10px;
  font-weight: 200;
}

.header-right {
  float: right;
  display: flex;
  justify-content: space-between;
  margin: 16px 5px;
}

#icon-bell {
  height: 2.5em;
  width: 2.5em;
  margin: auto 5px;
}

header img {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  margin: auto 5px;
}

header h3 {
  margin: auto 5px;
  font-weight: 300;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header,
.traffic,
.daily-traffic,
.mobile-users,
.social,
.members,
.activity,
.message-user,
.settings {
  padding: 15px;
}

/* --- Social Stats Widget --- */

.social-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 14px;
}

.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #fbfbfb;
}

.social-container:nth-child(even) {
  margin: 10px 0;
}

.social-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #7c7ebc;
}

#twitter {
  margin: 18px 0 0 16px;
}

#facebook {
  margin: 11px 0 0 13px;
}

#google-plus {
  margin: 16px 0 0 15px;
}

.social-text {
  text-align: left;
  margin-left: 20px;
}

.social-text p:nth-child(1) {
  color: #7c7ebc;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.social-text p:nth-child(2) {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
}

/* --- New Members Widget --- */

.members {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.members-container {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 14px;
}

.members-container p:nth-last-child(1) {
  font-weight: 800;
}

.members-text p {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.members-container img,
.activity-container img {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  margin-right: 10px;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================*/

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }

    nav {
      flex-direction: column;
      justify-content: flex-start;
    }

    .main-header {
      margin: 0 10px;
    }

    .main-content {
      display: grid;
      grid-template-columns: 50%;
    }

    .traffic, .social {
      grid-column: 1 / span 2;
    }

    .daily-traffic, .members, .message-user {
      grid-column: 1 / span 1;
    }

    .mobile-users, .activity, .settings {
      grid-column: 2 / span 1;
    }

    .social-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .social-container {
      width: calc(100% / 3);
    }

    .social-container:nth-child(even) {
      margin: 0 10px;
    }
}

@media (min-width: 1024px) {

}