/* ================================= 
  Base Element Styles
==================================*/

*, 
*:before, 
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

nav a {
  padding: 10px;
}

nav a img {
  height: 2.5em;
  width: 2.5em;
}

main {
  grid-area: main;
  padding: 10px;
}

/* ================================= 
  Base Layout Styles
==================================*/

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "nav"
    "main";
}

header h1 {
  float: left;
  margin-left: 10px;
}

.header-right {
  float: right;
  display: flex;
  justify-content: space-between;
  margin: 16px 5px;
}

#icon-bell {
  height: 2.5em;
  width: 2.5em;
  margin: auto 5px;
}

header img {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  margin: auto 5px;
}

header h3 {
  margin: auto 5px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-stats {
  display: flex;
  justify-content: space-between;
}

.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: calc(100% / 3);
  border: 3px solid green;
}

.social-container:nth-child(even) {
  margin-left: 10px;
  margin-right: 10px;
}

.social-image {
  height: 25px;
  width: 25px;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================*/

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }

    nav {
      flex-direction: column;
      justify-content: flex-start;
    }

    .main-header {
      margin: 0 10px;
    }

    .main-content {
      display: grid;
      grid-template-columns: 50%;
    }

    .traffic, .social {
      grid-column: 1 / span 2;
    }

    .daily-traffic, .members, .message-user {
      grid-column: 1 / span 1;
    }

    .mobile-users, .activity, .settings {
      grid-column: 2 / span 1;
    }
}

@media (min-width: 1024px) {

}